<meta http-equiv="Content-Type" content="text/html;charset=ISO-8859-1">
<!doctype html>
<html ng-app="parking">

<head>
    <title>[Packt] Parking</title>
    <script src="js/lib/angular.js"></script>
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/directives.js"></script>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body ng-controller="parkingCtrl">
    <h3 ng-bind="appTitle"></h3>
    <div ng-show="cars.length > 0">
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th>Plate</th>
                    <th>Color</th>
                    <th>Entrance</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-class="{selected: car.selected}" ng-repeat="car in cars">
                    <td>
                        <input type="checkbox" ng-model="car.selected" />
                    </td>
                    <td><span ng-bind="car.plate"></span></td>
                    <td><span ng-bind="car.color"></span></td>
                    <td><span ng-bind="car.entrance | date : 'dd/MM/yyyy hh:mm'"></span></td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-hide="cars.length > 0">
        The parking lot is empty
    </div>
    <input type="text" ng-model="car.plate" placeholder="What's the plate?" />
    <select ng-model="car.color" ng-options="color for color in colors">
        Pick a color
    </select>
    <button ng-click="park(car)" ng-disabled="!car.plate || !car.color">
        Park
    </button>

    <div alert></div>
</body>

</html>